{% extends 'accounts/base.html' %}
{% block content %}
<style>
body {
	background-color: grey;
}
#total-orders{
    padding-bottom: 76px;
    background-color: white;

}
</style>

<div class="row mt-5">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'create_order' customer.id%}">Place order</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{customer.email}}</p>
			<p>Phone: {{customer.phone}}</p>
		</div>
	</div>

	<div class="col-md" >
		<div id ='total-orders'class="card card-body">
			<h5 >Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{  total_order }}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
			{{myFilter.form}}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Category</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for j in order %}

				<tr>
					<td>{{j.product}}</td>
					<td>{{j.product.category}}</td>
					<td>{{j.date_created}}</td>
					<td>{{j.status}}</td>
					<td> <a class='btn btn-sm btn-primary' href="{% url 'update_order' orders.id %}">UPDATE</a> </td>
					<td> <a class='btn btn-sm btn-danger' href="{% url 'delete_order' orders.id %}">DELETE</a> </td>
	
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock content %}