{% load static %}
<style>
#msg{
  color:white;
  margin-right:20px;

}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img src="{%static 'images/logo.png' %}" alt="CRM">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        {% if requet.user.is_staff %}
                  <li class="nav-item">
                    <a class="nav-link" href="{%url 'home'%}">DashBoard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{%url 'products'%}">Products</a>
                  </li>
              {% else %}
                 <li class="nav-item">
                   <a class="nav-link" href="{%url 'account'%}">Settings</a>
                 </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <span id = "msg">HELLO,   {{request.user}}</span>
  <span><a href="{%url 'logout' %}"  class = "btn btn-primary"> LOGOUT </a></span>

</nav>